<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Optimus Order Cancelled <%= @user.name %></h1>
<p>
  Your Order <%= @order.id %> Have been cancelled by Customer  <%=@order.customer.email%>
</p>
<p>
  Pickup Time:  <%= @order.pickup_time %>
</p>
<p>
  Delivery Time:  <%= @order.delivery_time %>
</p>
<p>
  Pickup Address:  <%= @order.source['address'] %>
</p>
<p>
  Delivery Address:  <%= @order.destination['address'] %>
</p>


</body>
</html>