<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Optimus Order Approved <%= @user.name %></h1>
<p>
  Your Order <%= @order.id %> Have been approved by driver <%=@order.driver.email%>
</p>
<p>
  Pickup Time:  <%= Utils.convert_real_utc_to_local_utc(@order.pickup_time,@user.timezone) %>
</p>
<p>
  Delivery Time:  <%=Utils.convert_real_utc_to_local_utc(@order.delivery_time,@user.timezone) %>
</p>
<p>
  Pickup Address:  <%= @order.source['address'] %>
</p>
<p>
  Delivery Address:  <%= @order.destination['address'] %>
</p>


</body>
</html>