<!DOCTYPE html>
<html>
  <head>
    <script src="/admin/js/FileSaver.js"></script>
    <script src="/admin/js/globals.js"></script>
    <script src="/admin/js/controllers.js"></script>
    <script src="/admin/js/directives.js"></script>
    <script src="/admin/js/filters.js"></script>
    <script src="/admin/js/services.js"></script>
    <script src="/admin/js/date.js"></script>
    <script src="/admin/js/jstz.js"></script>
    <script src="/admin/js/pace.js"></script>
    <script src="/admin/js/ng-table.js"></script>
    <script src="/admin/js/dataset_types_requirements.js"></script>
    <script src="/admin/js/time_zones.js"></script>
    <script src="/admin/js/marker_with_label.js"></script>
    <script src="/admin/js/blockUI.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.0rc3/angular-route.js"></script>
    <script src="/admin/js/controllers.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rails Devise" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Devise" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body ng-app="app">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
